<template>
  <h1>Welcome to sectors form</h1>
  <p>Here you can submit form responses where you specify your name, the sectors you're active in and whether you agree to the terms. To get started, go to Sectors Form in the menu.</p>
</template>

<script>

export default {
  name: 'HelloWorld',
  data() {
    return {
      currentDate: new Date()
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
