<template>
  <h1>Sectors</h1>
  Select user:
  <div>
    <select v-model="selectedUser" @change="onUserChange" class="form-select-sm">
      <option>John</option>
      <option>Alice</option>
    </select>
  </div>
  Please enter your name and pick the Sectors you are currently involved in.
  <br />
  <br />
  Name:
  <input v-model="name" class="form-control-sm" type="text">
  <br />
  <br />
  Sectors:
  <div>
    <select class="form-select-sm" multiple size="10" v-model="selectedSectorNames">
      <option v-for="sector in sectors" :value="sector.name" :key="sector.id">
        <span v-html="getSectorIndentation(sector)"></span> {{ sector.name }}
      </option>
    </select>
  </div>

  <br />
  <br />
  <input v-model="agreeToTerms" class="form-check-inline" type="checkbox"> Agree to terms

  <br />
  <br />
  <input @click="submitFormResponse" class="btn-lg btn-primary" type="submit" value="Save">
</template>

<script>
import {getAllSectors} from "@/repository/sectorsRepository";
import {insert, latestForUser} from "@/repository/formeResponseRepository";
import {useToast} from "vue-toastification";

export default {
  name: "SectorsForm",
  data() {
    return {
      sectors: [],
      selectedSectors: [],
      selectedUser: 'John',
      name: '',
      agreeToTerms: false
    }
  },
  async mounted() {
    this.sectors = await getAllSectors();
    let latestResult = await latestForUser(this.selectedUser);
    this.updateForm(latestResult);
  },
  methods: {
    getSectorIndentation(sector) {
      const indentation = '&nbsp;&nbsp;&nbsp;&nbsp;';
      return indentation.repeat(sector.level);
    },
    async submitFormResponse() {
      const formResponse = {
        user: this.selectedUser,
        name: this.name,
        sectors: this.selectedSectorNames,
        agreeToTerms: this.agreeToTerms
      }
      const toast = useToast();
      try {
        let result = await insert(formResponse);
        this.updateForm(result);
        toast.success("Form submitted successfully", {
          timeout: 2000
        });
      } catch (e) {
        let errors = e.response.data.errors;
        toast.error("Error while submitting.\n" + errors.join("\n"), {
          timeout: 5000
        });
      }
    },
    updateForm(result) {
      this.selectedSectors = result.sectors;
      this.name = result.name;
      this.agreeToTerms = result.agreeToTerms
    },
    async onUserChange() {
      let latestResult = await latestForUser(this.selectedUser);
      this.updateForm(latestResult);
    }
  },
  computed: {
    selectedSectorNames: {
      get() {
        return this.selectedSectors.map(sector => sector.name);
      },
      set(names) {
        this.selectedSectors = this.sectors.filter(sector => names.includes(sector.name));
      }
    }
  }
}
</script>

<style scoped>

</style>